/* Write your CSS here */

.counter-bg-container {
  padding: 10px;
  background: #f1f5f8;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-title {
  color: #2d3a35;
  font-size: 35px;
}

span {
  color: #c20a72;
}

.counter-desc {
}

.button {
  color: #fff;
  background: #007bff;
  width: 80px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
